on fs
    mount_all fstab.qcom
    swapon_all fstab.qcom

    # SONY: Start the TrimArea Daemon. It must be started before fota-ua
    wait /dev/block/platform/msm_sdcc.1/by-name/TA
    class_start trimarea
    exec /sbin/wait4tad_static

    exec /system/bin/factoryreset
    exec /system/bin/factoryreset_keep_media

    exec /sbin/fota-ua c

on early-boot
    start sct_service
    
    # Skies-2013/08/05, too early ? move later...
    start ta_qmi_service

on boot
    # Create symlinks for customized files
    exec /system/bin/sh /system/etc/multi-cdf-symlinker.sh

on property:dev.bootcomplete=1
    start fota-trigger

# SONY: TrimArea Daemon
# Last 2 args: start block(blk size 128k), number of blocks(partitionsize(kb)/128(kb))
service tad_static /sbin/tad_static /dev/block/platform/msm_sdcc.1/by-name/TA 0,16
    class trimarea
    user root
    group root
    socket tad stream 0660 system system

service updatemiscta /system/bin/updatemiscta
    class main
    user root
    oneshot

# Trim Area QMI service
service ta_qmi_service /system/bin/ta_qmi_service
    user root
    disabled

# Secure Config Transfer service
service sct_service /system/bin/sct_service
    user root
    disabled    
    
# Sony: FOTA trigger
service fota-trigger /system/bin/fota-trigger
    group cache
    disabled
